@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto Regular', Helvetica, sans-serif;
}

.markdown-container {
  white-space: pre-wrap;
  /*word-wrap: break-word;*/
}

.markdown-container ol {
  list-style-type: decimal;
  padding-left: 2rem; /* Ajusta la sangría según necesites */
}

.markdown-container ol li {
  /*margin-bottom: 0.5rem; !* Espacio entre los elementos de la lista *!*/
  /*padding-left: 0.5rem;*/
  /*text-indent: -0.5rem;*/
}



